/* Generic theme-independent CSS file */

window.terminal-window scrolledwindow undershoot.top,
window.terminal-window scrolledwindow undershoot.bottom,
window.terminal-window scrolledwindow overshoot.top,
window.terminal-window scrolledwindow overshoot.bottom
{
  background: none;
}

window.terminal-window.csd
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

popover button.model
{
  padding-left: 16px;
  padding-right: 16px;
}

.disclosure-button
{
  padding-left: 4px;
  padding-right: 4px;
  min-width: 0;
}
